.ls-layer,
.ls-layer * {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif;
	font-weight: normal;
}

.ls-layer p {
	padding: 0px 10px;				
	line-height: 40px;
	box-shadow: 0px 4px 10px -5px black;
	text-shadow: none;
	font-size: 22px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.l1-s1 {
	height: 80px;
	color: black;
	background: white;
	opacity: .9;
	width: 650px;
	text-align: center;
}

.l2-s1 {
	height: 40px;
	color: white;
	background: black;
	opacity: .65;
	white-space: nowrap;
}

.l3-s1 {
	height: 40px;
	color: black;
	background: white;
	opacity: .9;
	white-space: nowrap;
}

@font-face {
    font-family: 'CACChampagneRegular';
    src: url('../fonts/cac_champagne-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

p.fontface {font: 30px/25px 'CACChampagneRegular', Arial, sans-serif;letter-spacing: 0; margin-top:0px; font-size:2em; text-align: center; color:black;}

.ls-bottom-nav-wrapper, .ls-nav-prev, .ls-nav-next {
    display: none;
    z-index: -1000;
}

#home .ui-panel-inner{
    padding:0;
}​
 
.column-icon {
    width: 32px;
    height: 32px;
}
